In [1]:
import pandas as pd
import pandas_datareader.data as web
import datetime as dt
import time

In [2]:
from pandas_datareader import data as pdr
import yfinance as yf
yf.pdr_override()
y_symbols = ['TATAPOWER.NS']
from datetime import datetime
startdate = dt.datetime(2000,1,1)
enddate = dt.datetime(2020,1,1)
data = pdr.get_data_yahoo(y_symbols, start=startdate, end=enddate)

[*********************100%***********************]  1 of 1 completed

In [3]:
data

                 Open       High        Low      Close  Adj Close   Volume
Date
2000-01-03   7.382381   7.527133   7.044625   7.406506   4.309473   994997
2000-01-04   7.199028   7.527133   7.049450   7.420981   4.317896  1058302
2000-01-05   7.165252   7.681536   7.054275   7.565734   4.402121   873414
2000-01-06   7.720137   8.135094   7.710487   7.802163   4.539687  2088480
2000-01-07   8.009642   8.009642   7.720137   7.787688   4.531265   514643
...               ...        ...        ...        ...        ...      ...
2019-12-24  56.450001  56.650002  55.750000  56.099998  53.253574  7649247
2019-12-26  56.000000  56.549999  55.000000  55.150002  52.351784  4026238
2019-12-27  55.299999  56.299999  55.299999  56.099998  53.253574  2983035
2019-12-30  55.900002  56.700001  55.700001  56.450001  53.585819  3198070
2019-12-31  56.500000  56.900002  56.299999  56.500000  53.633282  3504310

[4998 rows x 6 columns]

In [4]:
def slow_func(row):
    time.sleep(0.001) #Delay execution for a
    #given number of seconds. The argument may be a floating point 
    #number for subsecond precision.
    return row

In [5]:
t1 = time.time()
data['Close'].iloc[:1000].apply(slow_func)
t2 = time.time()

In [6]:
t2-t1

24.396345615386963

Let's try to speed it up thanks to Swifter

In [7]:
import swifter
t1 = time.time()
data['Close'].iloc[:1000].swifter.apply(slow_func)
t2 = time.time()
t2-t1

0.6966025829315186

In [8]:
from decimal import Decimal

In [9]:
import math

In [10]:
t1 = time.time()
data['Close'].apply(lambda x: Decimal(math.factorial(int(x*50))))
t2 = time.time()

In [11]:
t2-t1

45.44249486923218

In [12]:
t1 = time.time()
data['Close'].swifter.apply(lambda x: Decimal(math.factorial(int(x*50))))
t2 = time.time()

Dask Apply:   0%|          | 0/4 [00:00<?, ?it/s]

In [13]:
t2-t1

64.73232293128967

In [14]:
t1 = time.time()
data['Close'].apply(lambda x: x**2)
t2 = time.time()
t2-t1

0.0049991607666015625

In [15]:
t1 = time.time()
data['Close'].swifter.apply(lambda x: x**2)
t2 = time.time()
t2-t1

0.0030002593994140625